*{
    
    box-sizing: Border-box;
}

body{
    background-color:#2b88f0;
    font-family: 'Franklin Gothic Medium', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
     margin: 0;
    
    }
    h3{
        margin:  10px 0 20px;
        text-align: center;
        font-weight:  bold;
        font-size: 24px;
    }
    .container
    {
        width: 500px;
    }
    textarea{
        border: none;
        display: block;
        width: 100%;
        height: 100px;
        font-family: inherit;
        padding: 10px;
        margin: 0 0 20px;
        font-size:  16px;
    }

    .tag{
        background-color: orange;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 20px;
        display: inline-block;
    
    }
    .tag.high-light{
        background-color: #273c75;
        color: #fff;
    }